.loader {
    float: left;
    border: 0.25em solid #f3f3f3; /* Light grey */
    border-top: 0.25em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1.17em;
    height: 1.17em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.background1 {
    height: 100%;
    background: #ababab;
    background-image: url('./BG.jpg');
}

.background2 {
    height: 100%;

    background: linear-gradient(90deg, #3AB75C 50%, #FFFFFF 50%) !important;
}


.content {
    width: 800px;
    height: 300px;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
}